.App {
  text-align: center;
}

.primary-nav {
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  align-items: center;
  justify-content: space-around;
  height: 3rem;
}

/* M-1 */
/* nav a.active {
  text-decoration: none;
  font-weight: bold;
} */

.secondary-nav {
  display: flex;
  justify-content: space-between;
  width: 10rem;
}

